---
import '../styles/global.css';

interface Link {
  url: string;
  icon: string;
  text: string;
}

interface Props {
  pfpimg: string;
  msg: string;
  className: string;
  links?: Link[];
  index?: number;
}

const { pfpimg, msg, className, links = [], index = 0 } = Astro.props as Props;

const [firstPart, ...rest] = msg.split('.');
const secondPart = rest.join('.');
---

<div class="card-container relative">
  <div class={`${className} flex items-center relative transition-transform duration-500 ease-out ${index === 1 ? 'group-hover:translate-x-[-20px]' : ''}`}>
    <img
      id={`pfp-image-${index + 1}`}
      src={pfpimg}
      alt="Memoji profile picture"
      class="w-20 h-auto pl-2 select-none pointer-events-none"
    />
    <span class="flex flex-col pl-4">
      <p class="font-semibold text-lg">Marina</p>
      <p>{firstPart}<br />{secondPart}</p>

      {index === 1 && links.length > 0 && (
        <div class="mt-2 flex gap-3 flex-wrap">
          {links.map(link => (
            <a href={link.url} target="_blank" class="tag flex items-center gap-2 border border-[#311B6609] bg-[#F3F7FF] font-medium text-text-primary py-1 px-3 rounded-full text-sm hover:bg-[#e5eefb]">
              <img src={link.icon} alt={link.text} class="w-4 h-4" />
              <span>{link.text}</span>
            </a>
          ))}
        </div>
      )}
    </span>
  </div>
</div>

<script>
  document.addEventListener('DOMContentLoaded', () => {
    ['pfp-image-1', 'pfp-image-2'].forEach(id => {
      const img = document.getElementById(id) as HTMLImageElement | null;
      if (img) {  
        img.style.pointerEvents = "auto";

        img.addEventListener('click', () => {
          const originalSrc = img.src;
          img.src = '/click.webp';

          setTimeout(() => {
            img.src = originalSrc;
          }, 500);
        });
      }
    });
  });
</script>

